doctype html
html(ng-app="app")
    head
        title js-boilerplate
        meta(charset="utf-8")
    body
        // bower:js
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-animate/angular-animate.js')
        script(src='/bower_components/angular-cookies/angular-cookies.js')
        script(src='/bower_components/angular-loader/angular-loader.js')
        script(src='/bower_components/angular-mocks/angular-mocks.js')
        script(src='/bower_components/angular-sanitize/angular-sanitize.js')
        script(src='/bower_components/angular-scenario/angular-scenario.js')
        script(src='/bower_components/angular-resource/angular-resource.js')
        script(src='/bower_components/angular-route/angular-route.js')
        script(src='/bower_components/angular-touch/angular-touch.js')
        script(src='/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js')
        script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='/bower_components/lodash/dist/lodash.compat.js')
        script(src='/bower_components/restangular/dist/restangular.js')
        // endbower
        script(src="angular/App.js", type="text/javascript")
        
