doctype html
html(ng-app="app")
    head
        include  ./../head
    body
        // bower:js
        // endbower
        // include: "type": "js", "files": "angular-dev/App.js"
        // include: "type": "js", "files": "angular-dev/*/*.js"
        // include: "type": "js", "files": "angular-dev/*/*/*.js"
        include ./../body