doctype html
html(ng-app="app")
    head
        title js-boilerplate
        meta(charset="utf-8")
    body
        // bower:js
        // endbower
        // include: "type": "js", "files": "angular/App.js"
        // include: "type": "js", "files": "angular/*/*.js"
